.App {
  text-align: center;
}


img {
  display: block;
  width: 100%;
  pointer-events: none;
}

/* #root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
} */

.text-align{
  text-align: left;
}
